<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JdbcLoginJSP</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
    <servlet>
  	<servlet-name>reg_controller</servlet-name>
  	<jsp-file>/controller/regcontroller.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>reg_controller</servlet-name>
  	<url-pattern>/reguser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>logout_page</servlet-name>
  	<jsp-file>/controller/logoutcontroller.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>logout_page</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>login_controller</servlet-name>
  	<jsp-file>/controller/logincontroller.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>login_controller</servlet-name>
  	<url-pattern>/checkuser</url-pattern>
  </servlet-mapping>
</web-app>